<!DOCTYPE html>
<html ng-app="UberWeb">
<head>
    <title>Home</title>
    <meta charset="utf-8" />
    <!-- Start WOWSlider.com HEAD section -->
    <link rel="stylesheet" type="text/css" href="engine1/style.css" />
    <script type="text/javascript" src="engine1/jquery.js"></script>
    <!-- End WOWSlider.com HEAD section -->
 
    <script src="../Scripts/angular.js"></script>
    <script src="../Scripts/angular.min.js"></script>
    <script src="../Scripts/angular-route.js"></script>
    <script src="../Scripts/jquery-1.9.1.js"></script>
    <script src="../Scripts/bootstrap.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>
    <link href="../Content/bootstrap.css" rel="stylesheet" />
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    <script src="../Services.js"></script>
    <script src="../Demo.js"></script>

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <style>



        input[type=text] {
            width: 130px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            background-color: ghostwhite;
            background-image: url('searchicon.png');
            background-position: 10px 10px;
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
        }

            input[type=text]:focus {
                width: 100%;
            }

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/
 
 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }


    </style>

   

</head>
<body ng-controller="HomeController">
  

    <div class="jumbotron" style="background-color: #034715">

        <h1 align="Center" style="color:white;">Welcome To UberEats</h1>

    </div>

    <!-- Start WOWSlider.com BODY section -->
    <div id="wowslider-container1">
        <div class="ws_images">
            <ul>
                <li><img src="data1/images/advantagesofeatinghealthyfood2.jpg" alt="Advantages-of-eating-healthy-food-2" title="Advantages-of-eating-healthy-food-2" id="wows1_0" /></li>
                <li><img src="data1/images/asalad_photography_cheese_oil_fork_apple3614.jpg" alt="a-salad_photography_cheese_oil_fork_apple-3614" title="a-salad_photography_cheese_oil_fork_apple-3614" id="wows1_1" /></li>
                <li><img src="data1/images/foodmelissaclarkcitrussaladpizzachickenteasetoday17031401_31f11db1405ecd9afa46cba02889b83b.jpg" alt="food-melissa-clark-citrus-salad-pizza-chicken-tease-today-170314-01_31f11db1405ecd9afa46cba02889b83b" title="food-melissa-clark-citrus-salad-pizza-chicken-tease-today-170314-01_31f11db1405ecd9afa46cba02889b83b" id="wows1_2" /></li>
                <li><img src="data1/images/foodsaladhealthylunchhdwallpaperdesktopimagesofwindowsdownloadwallpaperamazingcoolbestwallpapereverimagespictures1600x1024736x459.jpg" alt="food-salad-healthy-lunch-hd-wallpaper-desktop-images-of-windows-download-wallpaper-amazing-cool-best-wallpaper-ever-images-pictures-1600x1024-736x459" title="food-salad-healthy-lunch-hd-wallpaper-desktop-images-of-windows-download-wallpaper-amazing-cool-best-wallpaper-ever-images-pictures-1600x1024-736x459" id="wows1_3" /></li>
                <li><img src="data1/images/healthiersmoothie722x406.jpg" alt="healthier-smoothie-722x406" title="healthier-smoothie-722x406" id="wows1_4" /></li>
                <li><img src="data1/images/img_139116.jpg" alt="IMG_139116" title="IMG_139116" id="wows1_5" /></li>
                <li><img src="data1/images/italianfood2322.jpg" alt="italian-food-2322" title="italian-food-2322" id="wows1_6" /></li>
                <li><img src="data1/images/ocean_basket_seafood_restaurant_lagos_3_of_30.jpg" alt="Ocean Basket Seafood Restaurant Lagos (3 of 30)" title="Ocean Basket Seafood Restaurant Lagos (3 of 30)" id="wows1_7" /></li>
                <li><img src="data1/images/photo14538313628063d5577f014a4.jpg" alt="photo-1453831362806-3d5577f014a4" title="photo-1453831362806-3d5577f014a4" id="wows1_8" /></li>
                <li><img src="data1/images/whichbreakfastfoodareyouaug320122600x400.jpg" alt="Which-breakfast-food-are-you-aug-3-2012-2-600x400" title="Which-breakfast-food-are-you-aug-3-2012-2-600x400" id="wows1_9" /></li>
                <li><img src="data1/images/8.jpg" alt="8" title="8" id="wows1_10" /></li>
                <li><img src="data1/images/0b2294e88566d695580d40b2a8de8216.jpg" alt="0b2294e88566d695580d40b2a8de8216" title="0b2294e88566d695580d40b2a8de8216" id="wows1_11" /></li>
                <li><img src="data1/images/1_1.jpg" alt="1 (1)" title="1 (1)" id="wows1_12" /></li>
                <li><img src="data1/images/1_2.jpg" alt="1 (2)" title="1 (2)" id="wows1_13" /></li>
                <li><img src="data1/images/1.jpg" alt="1" title="1" id="wows1_14" /></li>
                <li><a href="http://wowslider.net"><img src="data1/images/222x87isnegy7gycyxxu_pestobruschetta6690.jpg" alt="html slider" title="222x87iSNegy7GYCYxxU_pesto-bruschetta-6690" id="wows1_15" /></a></li>
                <li><img src="data1/images/4454039foodwallpapers.jpg" alt="4454039-food-wallpapers" title="4454039-food-wallpapers" id="wows1_16" /></li>
            </ul>
        </div>
        <div class="ws_bullets">
            <div>
                <a href="#" title="Advantages-of-eating-healthy-food-2"><span><img src="data1/tooltips/advantagesofeatinghealthyfood2.jpg" alt="Advantages-of-eating-healthy-food-2" />1</span></a>
                <a href="#" title="a-salad_photography_cheese_oil_fork_apple-3614"><span><img src="data1/tooltips/asalad_photography_cheese_oil_fork_apple3614.jpg" alt="a-salad_photography_cheese_oil_fork_apple-3614" />2</span></a>
                <a href="#" title="food-melissa-clark-citrus-salad-pizza-chicken-tease-today-170314-01_31f11db1405ecd9afa46cba02889b83b"><span><img src="data1/tooltips/foodmelissaclarkcitrussaladpizzachickenteasetoday17031401_31f11db1405ecd9afa46cba02889b83b.jpg" alt="food-melissa-clark-citrus-salad-pizza-chicken-tease-today-170314-01_31f11db1405ecd9afa46cba02889b83b" />3</span></a>
                <a href="#" title="food-salad-healthy-lunch-hd-wallpaper-desktop-images-of-windows-download-wallpaper-amazing-cool-best-wallpaper-ever-images-pictures-1600x1024-736x459"><span><img src="data1/tooltips/foodsaladhealthylunchhdwallpaperdesktopimagesofwindowsdownloadwallpaperamazingcoolbestwallpapereverimagespictures1600x1024736x459.jpg" alt="food-salad-healthy-lunch-hd-wallpaper-desktop-images-of-windows-download-wallpaper-amazing-cool-best-wallpaper-ever-images-pictures-1600x1024-736x459" />4</span></a>
                <a href="#" title="healthier-smoothie-722x406"><span><img src="data1/tooltips/healthiersmoothie722x406.jpg" alt="healthier-smoothie-722x406" />5</span></a>
                <a href="#" title="IMG_139116"><span><img src="data1/tooltips/img_139116.jpg" alt="IMG_139116" />6</span></a>
                <a href="#" title="italian-food-2322"><span><img src="data1/tooltips/italianfood2322.jpg" alt="italian-food-2322" />7</span></a>
                <a href="#" title="Ocean Basket Seafood Restaurant Lagos (3 of 30)"><span><img src="data1/tooltips/ocean_basket_seafood_restaurant_lagos_3_of_30.jpg" alt="Ocean Basket Seafood Restaurant Lagos (3 of 30)" />8</span></a>
                <a href="#" title="photo-1453831362806-3d5577f014a4"><span><img src="data1/tooltips/photo14538313628063d5577f014a4.jpg" alt="photo-1453831362806-3d5577f014a4" />9</span></a>
                <a href="#" title="Which-breakfast-food-are-you-aug-3-2012-2-600x400"><span><img src="data1/tooltips/whichbreakfastfoodareyouaug320122600x400.jpg" alt="Which-breakfast-food-are-you-aug-3-2012-2-600x400" />10</span></a>
                <a href="#" title="8"><span><img src="data1/tooltips/8.jpg" alt="8" />11</span></a>
                <a href="#" title="0b2294e88566d695580d40b2a8de8216"><span><img src="data1/tooltips/0b2294e88566d695580d40b2a8de8216.jpg" alt="0b2294e88566d695580d40b2a8de8216" />12</span></a>
                <a href="#" title="1 (1)"><span><img src="data1/tooltips/1_1.jpg" alt="1 (1)" />13</span></a>
                <a href="#" title="1 (2)"><span><img src="data1/tooltips/1_2.jpg" alt="1 (2)" />14</span></a>
                <a href="#" title="1"><span><img src="data1/tooltips/1.jpg" alt="1" />15</span></a>
                <a href="#" title="222x87iSNegy7GYCYxxU_pesto-bruschetta-6690"><span><img src="data1/tooltips/222x87isnegy7gycyxxu_pestobruschetta6690.jpg" alt="222x87iSNegy7GYCYxxU_pesto-bruschetta-6690" />16</span></a>
                <a href="#" title="4454039-food-wallpapers"><span><img src="data1/tooltips/4454039foodwallpapers.jpg" alt="4454039-food-wallpapers" />17</span></a>
            </div>
        </div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.net">jquery carousel slider</a> by WOWSlider.com v8.8</div>
        <div class="ws_shadow"></div>
    </div>
    <script type="text/javascript" src="engine1/wowslider.js"></script>
    <script type="text/javascript" src="engine1/script.js"></script>
    <!-- End WOWSlider.com BODY section -->


    <div class="jumbotron" style="background-color: #034715">
        <div align="center">

            <!--<a href="view/AddRestaurant.html" style="color:#FFFFFF;">Register Restaurant |</a>-->
            <a href="mailto:eats@uber.com?subject=CustomerEnquirey" style="color:#FFFFFF;">Contact Us |</a> 
            <a href="view/AboutUs" style="color:#FFFFFF;">About Us |</a>
            <a href="https://youtu.be/GUzB4JUxSOo" style="color:#FFFFFF;">How It works |</a>
            <a href="mailto:eats@uber.com?subject=PartnerShipRequest" style="color:#FFFFFF;">Become A Partner |</a>
            <a href="#!AddDriver" style="color:#FFFFFF;">Become A Driver |</a>
            <a href="#!LoginDriver" style="color:#FFFFFF;">Driver Login</a>

        </div>
        <div align="center" class="container">
            <p class="txt-railway"></p>
            <br />
            <a href="https://www.facebook.com/UberEATS"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
            <a href="https://twitter.com/UberEATS"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
            <a href="https://plus.google.com/110228206715581300902"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
            <a href="mailto:eats@uber.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
        </div>
        
    </div>
    

</body>
</html>
