<!DOCTYPE html>
<html ng-app="Uberweb">

<h2 class="text-center text-primary">Welcome</h2>

<head>
    <meta charset="utf-8" />
    <script src="../Scripts/angular.js"></script>
    <script src="../Scripts/angular.min.js"></script>
    <script src="../Scripts/angular-route.js"></script>
    <script src="../Scripts/jquery-1.10.2.js"></script>
    <link href="../Content/bootstrap.css" rel="stylesheet" />
    <script src="../Scripts/bootstrap.js"></script>
    <script src="../Services.js"></script>
    <script src="../Demo.js"></script>
</head>
<body>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div ng-controller="WelcomeController">



                <hr align="left " width="100%">
                <div class="jumbotron">
                    <h4 align="Center" style="color:royalblue;">You are now a member, Please proceed with making an order</h4>

                </div>
                <hr />
               
            </div>
        </div>
        </div>
    <div align="center">
    <a href="#!Search" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Click Here To Continue</a>
        </div>
</body>
</html>